<style>
ul{
  list-style-type: none;
  margin-left: -20px;
}
*{
  font-family: Courier;
}
</style>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <th>
      Binaries
    </th>
  </thead>
  <tbody>
    <tr ng-repeat="entry in filesList">
      <td class="clickable" ng-style="getBackgroundStyle(entry, 'files')" ng-click="setFile(entry)">
        <a class="clickable" ng-click="setFile(entry)">{{entry}}</a>
      </td>
    </tr>
  </tbody>
</table>


<div ng-show="error" class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{error}}
</div>


<!-- Object files -->


<div ng-show="archiveMap">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <th>
        Object files in {{selectedFile}}
        <br>
        <br>
        <pagination total-items="archiveFiles.length" ng-model="currentPageArchive" max-size="5"
        boundary-links="true"
        items-per-page="numPerPage" class="pagination-sm" style="margin: 0px !important;">
      </pagination>
      <form ng-submit="filterObjectTableData()">  
        <input typeahead="term for term in autoCompleteValues | filter:$viewValue | limitTo:8" type="text" ng-model="objectTextFilter"
        placeholder="search" ng-change="filterObjectTableData(); functionsList=undefined; selectedFunction=undefined" typeahead-on-select="filterObjectTableData()">
      </form>
    </th>
  </thead>
  <tbody>
    <tr ng-repeat="entry in archiveFiles | filter : paginateArchive track by $index">
      <td class="clickable" ng-click="setObjectFile(entry)" ng-style="getBackgroundStyle(entry, 'object files')">
        <a class="clickable" ng-click="setObjectFile(entry)">{{entry}}</a>
      </td>
    </tr>
  </tbody>
</table>
</div>


<!-- Functions -->


<div ng-show="functionsList">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <th colspan="3">
        Functions in {{archiveMap == undefined ? selectedFile : selectedObjectFile}}
        <br>
        <br>
        <div>
          <div>
            <pagination total-items="functionsList.length" ng-model="currentPage" max-size="5"
            boundary-links="true"
            items-per-page="numPerPage" class="pagination-sm" style="margin: 0px !important;">
          </pagination>
        </div>
        <div>
          <input type="text" ng-model="textFilter" placeholder="search" ng-change="filterTableData()"/>
          <span style="color: #868686">Showing <span style="color: black; font-size: 15px; font-weight: bolder">{{functionsList.length}}
          </span> functions</span>
        </div>
      </div>
    </th>
  </thead>
  <tbody>
    <tr class="clickable" ng-click="setFunction(entry.name, entry.address)" ng-repeat="entry in functionsList | filter : paginate track by $index">
      <td style="width:1px" ng-style="getBackgroundStyle(entry, 'functions')">
        {{entry.address}}
      </td>
      <td ng-style="getBackgroundStyle(entry, 'functions')">
        <a class="clickable" ng-click="setFunction(entry.name, entry.address)">{{entry.name}}</a>
      </td>
    </tr>
  </tbody>
</table>
</div>



<!-- Assembly -->



<div ng-show="selectedFunction" class="panel panel-default assemblylisting">
  <div class="panel-heading boldText">{{selectedFunction}} 
    <a class="clickable" style ="float:right" ng-click="openStatsModal()">
      Histogram
      <span class="badge"><span class="glyphicon glyphicon-stats clickable"></span></span>
    </a>
  </div>
  <div class="panel-body" style="max-height: 85vh; overflow: auto">
    <ul>
      <li ng-repeat="line in currentAssembly">
        {{line.address}} :
        <code ng-class="getCodeStyle(line.name)" ng-click="setFunction2(line.dest)">{{format(line)}}</code>
      </li>
    </ul>
  </div>
</div>

<div ng-show="selectedFunction2" class="panel panel-default assemblylisting" style="margin-left: 10px">
  <div class="panel-heading boldText">{{selectedFunction2}}
    <a class="clickable" style ="float:right" ng-click="openStatsModal()">
      Histogram
      <span class="badge"><span class="glyphicon glyphicon-stats clickable"></span></span>
    </a>
  </div>
  <div class="panel-body" style="max-height: 85vh; overflow: auto">
    <ul>
      <li ng-repeat="line in currentAssembly2">
        {{line.address}} :
        <code ng-class="getCodeStyle(line.name)" ng-click="setFunction3(line.dest)">{{format(line)}}</code>
      </li>
    </ul>
  </div>
</div>

<div ng-show="selectedFunction3" class="panel panel-default assemblylisting" style="margin-left: 10px">
  <div class="panel-heading boldText">{{selectedFunction3}}
    <a class="clickable" style ="float:right" ng-click="openStatsModal()">
      Histogram
      <span class="badge"><span class="glyphicon glyphicon-stats clickable"></span></span>
    </a>
  </div>
  <div class="panel-body" style="max-height: 85vh; overflow: auto">
    <ul>
      <li ng-repeat="line in currentAssembly3">
        {{line.address}} :
        <code style="cursor:auto" ng-class="getCodeStyle(line.name)">{{format(line)}}</code>
      </li>
    </ul>
  </div>
</div>