<style>
ul{
  list-style-type: none;
  margin-left: -20px;
}
*{
  font-family: Courier;
}
</style>


<table class="table table-striped table-bordered table-hover">
  <thead>
    <th>
      Binaries
    </th>
  </thead>
  <tbody>
    <tr ng-repeat="entry in filesList">
      <td class="clickable" ng-style="getBackgroundStyle(entry, 'files')" ng-click="setFile(entry)">
        <a class="clickable" ng-click="setFile(entry)">{{entry}}</a>
      </td>
    </tr>
  </tbody>
</table>


<div ng-show="error" class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{error}}
</div>


<!-- Functions -->


<div ng-show="functionsList">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <th colspan="3">
        Functions in selectedFile
        <br>
        <br>
        <div>
          <div>
            <pagination total-items="functionsList.length" ng-model="currentPage" max-size="5"
            boundary-links="true"
            items-per-page="numPerPage" class="pagination-sm" style="margin: 0px !important;">
          </pagination>
        </div>
        <div>
          <input type="text" ng-model="textFilter" placeholder="search" ng-change="filterTableData()"/>
          <span style="color: #868686"><span style="color: black; font-size: 15px; font-weight: bolder">{{functionsList.length}}
          </span> functions matched</span>
        </div>
      </div>
    </th>
  </thead>
  <tbody>
    <tr class="clickable" ng-click="setFunction(entry, 0)" ng-repeat="entry in functionsList | filter : paginate track by $index">
      <td style="width:1px" ng-style="getBackgroundStyle(entry, 'functions')">
        {{entry.address}}
      </td>
      <td ng-style="getBackgroundStyle(entry, 'functions')">
        <a class="clickable" ng-click="setFunction(entry, 0)">{{entry.name}}</a>
        <span class="objectSubscript">
          {{entry.obj}}
        </span>
      </td>
    </tr>
  </tbody>
</table>
</div>



<!-- Assembly -->



<div ng-show="selectedFunction[0]" class="panel panel-default assemblylisting">
  <div class="panel-heading boldText">{{selectedFunction[0].name}} 
    <a class="clickable" style ="float:right" ng-click="openStatsModal(selectedFunction[0])">
      Histogram
      <span class="badge"><span class="glyphicon glyphicon-stats clickable"></span></span>
    </a>
  </div>
  <div class="panel-body" style="max-height: 85vh; overflow: auto">
    <ul>
      <li ng-repeat="line in currentAssembly[0]">
        {{line.address}} :
        <code ng-class="getCodeStyle(line.name)" ng-click="line.dest ? setFunction(line, 1) : ''">{{format(line)}}</code>
      </li>
    </ul>
  </div>
</div>

<div ng-show="selectedFunction[1]" class="panel panel-default assemblylisting" style="margin-left: 10px">
  <div class="panel-heading boldText">{{selectedFunction[1].name}}
    <a class="clickable" style ="float:right" ng-click="openStatsModal(selectedFunction[1])">
      Histogram
      <span class="badge"><span class="glyphicon glyphicon-stats clickable"></span></span>
    </a>
  </div>
  <div class="panel-body" style="max-height: 85vh; overflow: auto">
    <ul>
      <li ng-repeat="line in currentAssembly[1]">
        {{line.address}} :
        <code ng-class="getCodeStyle(line.name)" ng-click="setFunction(line, 2)">{{format(line)}}</code>
      </li>
    </ul>
  </div>
</div>

<div ng-show="selectedFunction[2]" class="panel panel-default assemblylisting" style="margin-left: 10px">
  <div class="panel-heading boldText">{{selectedFunction[2].name}}
    <a class="clickable" style ="float:right" ng-click="openStatsModal(selectedFunction[2])">
      Histogram
      <span class="badge"><span class="glyphicon glyphicon-stats clickable"></span></span>
    </a>
  </div>
  <div class="panel-body" style="max-height: 85vh; overflow: auto">
    <ul>
      <li ng-repeat="line in currentAssembly[2]">
        {{line.address}} :
        <code style="cursor:auto" ng-class="getCodeStyle(line.name)">{{format(line)}}</code>
      </li>
    </ul>
  </div>
</div>