  <style>
  ul{
    list-style-type: none;
    margin-left: -20px;
  }
  *{
    font-family: Courier;
  }

  #input {
    width: 500px;
    height: 300px;
  }

  </style>

  <p><textarea id="input">
   digraph G {
   subgraph cluster_9 { 
   label="func1"; 
   color=blue;
   "40052d" [shape=box]
   "40052d" [label = "func1\n40052d"];
   "40052d";
 }
 "40052d" -> "ffffffffffffffff" [color=green]
 "40052d" -> "40057f" [color=green]
 "40052d" -> "400551" [color=green]
 "40052d" -> "4005bd" [color=green]

 subgraph cluster_10 { 
 label="func2"; 
 color=blue;
 "40053c" [shape=box]
 "40053c" [label = "func2\n40053c"];
 "40053c";
 "400551";
 "400562";
}
"40053c" -> "40052d" [color=blue]
"40053c" -> "400551"
"400551" -> "400410" [color=blue]
"400551" -> "400562"
"400562" -> "ffffffffffffffff" [color=green]
"400562" -> "4005d8" [color=green]

subgraph cluster_11 { 
label="func3"; 
color=blue;
"400564" [shape=box]
"400564" [label = "func3\n400564"];
"400564";
"400575";
"40057f";
"400581";
"40058e";
}
"400564" -> "400581"
"400564" -> "400575"
"400575" -> "40052d" [color=blue]
"400575" -> "40057f"
"40057f" -> "40058e"
"400581" -> "400564" [color=blue]
"400581" -> "40058e"
"40058e" -> "ffffffffffffffff" [color=green]
"40058e" -> "40058e" [color=green]

subgraph cluster_12 { 
label="main"; 
color=blue;
"400590" [shape=box]
"400590" [label = "main\n400590"];
"400590";
"4005b3";
"4005bd";
"4005ce";
"4005d8";
"4005ec";
}
"400590" -> "400410" [color=blue]
"400590" -> "4005b3"
"4005b3" -> "40052d" [color=blue]
"4005b3" -> "4005bd"
"4005bd" -> "400410" [color=blue]
"4005bd" -> "4005ce"
"4005ce" -> "40053c" [color=blue]
"4005ce" -> "4005d8"
"4005d8" -> "400410" [color=blue]
"4005d8" -> "4005ec"
"4005ec" -> "ffffffffffffffff" [color=green]

}
</textarea></p>

<p><button id="generate" class="btn btn-default">Generate</button></p>

<div id="output"></div>
<div id="inspect"></div>

<script>

function inspect(s) {
  return "<pre>" + s.replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/\"/g, "&quot;") + "</pre>";
}

document.getElementById("generate").addEventListener("click", function(e) {
  var input = document.getElementById("input").value;
  var format = "svg";
  var engine = "dot";

  var result = Viz(input, format, engine);

  if (format == "svg") {
    document.getElementById("output").innerHTML = result;
  } else {
    document.getElementById("output").innerHTML = "";
  }
});

</script>