  <style>
  ul{
    list-style-type: none;
    margin-left: -20px;
  }
  *{
    font-family: Courier;
  }

  #input {
    width: 500px;
    height: 300px;
  }

  </style>

  <p><textarea id="input">
digraph G {
   subgraph cluster_1 { 
     label="printf"; 
     color=blue;
    "400410" [shape=box]
    "400410" [label = "printf\n400410"];
    "400410";
  }
  "400410" -> "ffffffffffffffff"

   subgraph cluster_9 { 
     label="func1"; 
     color=blue;
    "40052d" [shape=box]
    "40052d" [label = "func1\n40052d"];
    "40052d";
  }
  "40052d" -> "ffffffffffffffff" [color=green]
  "40052d" -> "4005a9" [color=green]

   subgraph cluster_10 { 
     label="func2"; 
     color=blue;
    "400541" [shape=box]
    "400541" [label = "func2\n400541"];
    "400541";
  }
  "400541" -> "ffffffffffffffff" [color=green]
  "400541" -> "400571" [color=green]

   subgraph cluster_11 { 
     label="func3"; 
     color=blue;
    "40054f" [shape=box]
    "40054f" [label = "func3\n40054f"];
    "40054f";
    "400560";
    "400567";
    "400571";
  }
  "40054f" -> "400567"
  "40054f" -> "400560"
  "400560" -> "400571"
  "400567" -> "400541" [color=blue]
  "400567" -> "400571"
  "400571" -> "ffffffffffffffff" [color=green]
  "400571" -> "40058c" [color=green]
  "400571" -> "4005b3" [color=green]

   subgraph cluster_12 { 
     label="main"; 
     color=blue;
    "400573" [shape=box]
    "400573" [label = "main\n400573"];
    "400573";
    "40058c";
    "40059d";
    "4005a1";
    "4005a9";
    "4005b3";
    "4005c4";
  }
  "400573" -> "40054f" [color=blue]
  "400573" -> "40058c"
  "40058c" -> "400410" [color=blue]
  "40058c" -> "40059d"
  "40059d" -> "4005a1"
  "4005a1" -> "40052d" [color=blue]
  "4005a1" -> "4005a9"
  "4005a9" -> "40054f" [color=blue]
  "4005a9" -> "4005b3"
  "4005b3" -> "400410" [color=blue]
  "4005b3" -> "4005c4"
  "4005c4" -> "ffffffffffffffff" [color=green]

}

</textarea></p>

<p><button id="generate" class="btn btn-default">Generate</button></p>

<div id="output"></div>
<div id="inspect"></div>

<script>

function inspect(s) {
  return "<pre>" + s.replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/\"/g, "&quot;") + "</pre>";
}

document.getElementById("generate").addEventListener("click", function(e) {
  var input = document.getElementById("input").value;
  var format = "svg";
  var engine = "dot";

  var result = Viz(input, format, engine);

  if (format == "svg") {
    document.getElementById("output").innerHTML = result;
  } else {
    document.getElementById("output").innerHTML = "";
  }
});

</script>