<div google-chart chart="branchChart" on-ready="setToolTipChartPNG()" style="display: none"></div>
<div google-chart chart="logicChart" on-ready="setToolTipChartPNG()" style="display: none"></div>
<div google-chart chart="arithmeticChart" on-ready="setToolTipChartPNG()" style="display: none"></div>
<div google-chart chart="movChart" on-ready="setToolTipChartPNG()" style="display: none"></div>
<div google-chart chart="otherChart" on-ready="setToolTipChartPNG()" style="display: none"></div>

<div class="modal-header">
	<h4 class="modal-title">Stats for <b>{{crtFunction.name}}</b> in <b>{{fileName}}</b></h4>
</div>

<div class="modal-body">
	Total instructions: {{allInstrs.length}}
	<br>
	<br>
	<div ng-show="callDestinations.length != 0">
		Calls:
		<ol>
			<li ng-repeat="line in callDestinations">
				<code>{{line.name}}</code>
				<span class="glyphicon glyphicon-arrow-right"/>
				<code ng-click="exit(); openStatsModal(line)" class="callInstruction">{{line.destName}}</code>
			</li>
		</ol>
	</div>
	<div style="text-align: center" ng-show="mainChartReady == false">
		<br>
		<br>
		<br>
    	<ad-loading-icon loading-icon-size="20px"></ad-loading-icon>
	</div>
	<div google-chart on-ready="mainChartReady=true" chart="mainChart" style="width: 100%; height: 400px"></div>
</div>
<div class="modal-footer">
	<button class="btn btn-success" ng-click="exit()">OK</button>
	<a style="margin-top: 10px;float:left" ng-show="prevFunction != undefined" class="clickable" ng-click="exit(); openStatsModal(prevFunction)">
      Back to {{prevFunction.name}}
      <span class="badge"><span class="glyphicon glyphicon-chevron-up clickable"></span></span>
    </a>
</div>
