<div google-chart chart="branchChart" on-ready="setToolTipChart()" style="display: none"></div>
<div google-chart chart="logicChart" on-ready="setToolTipChart()" style="display: none"></div>
<div google-chart chart="arithmeticChart" on-ready="setToolTipChart()" style="display: none"></div>

<div class="modal-header">
	<h4 class="modal-title">Stats for <b>{{functionName}}</b> in <b>{{fileName}}</b></h4>
</div>

<div class="modal-body">
	Mov instructions: {{movCounter}}
	<br>
	Logic instructions: {{logicCounter}} - {{logicTypeCount}}
	<br>
	Arithmetic instructions: {{arithmeticCounter}} - {{arithmeticTypeCount}}
	<br>
	Branch instructions: {{branchCounter}} - {{branchTypeCount}}
	<br>
	Push instructions: {{pushCounter}}
	<br>
	Pop instructions: {{popCounter}}
	<br>
	Call instructions: {{callCounter}}
	<br>
	Other: {{otherCounter}}
    <div google-chart chart="mainChart" on-ready="mainChartReady()"></div>
</div>

<div class="modal-footer">
	<button class="btn btn-success" ng-click="exit()">OK</button>
</div>
