/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    /*force scrollbar*/
    overflow-y: scroll;
}

.assemblylisting {
    float:left;
    background: #F5F5F5;
    min-width: 350px;
}

.objectSubscript {
    float: right;
    color: #7B7B7B;
    font-size: 12px;
    padding-top: 5px
}

.app-modal-window .modal-dialog {
    width: 1000px;
    height: 1000px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 1600px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

div.center {
    width: 150px;
    display: inline-block;
    vertical-align: middle;
    background: #428bca;
}

div.center-parent {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

h4 {
    text-align: center;
}

.scrollablelist {
    overflow-y: scroll;
    border: 1px dotted #000000;
    height: 150px;
}

.scrollablelist::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scrollablelist::-webkit-scrollbar:vertical {
    width: 11px;
}

.scrollablelist::-webkit-scrollbar:horizontal {
    height: 11px;
}

.scrollablelist::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.highlightedText {
    background: yellow;
}

.hover:hover {
    background-color: #EEEEEE;
}

.clickable {
    cursor: pointer;
    cursor: hand;
}

.boldText {
    font-weight: bold;
}

.callInstruction {
    color: #0064AB;
    cursor: pointer;
    cursor: hand;
}

.callInstructionNotClickable {
    color: #0064AB;
}

.jmpInstruction {
    color: #007702;
}

input[type=checkbox] {
    /*display: none;*/
    transform: scale(1.5);
}

input[type=checkbox] + label {
    /*background: url('../images/checkbox_unchecked.png') no-repeat;*/
    height: 25px;
    padding: 0 0 0 25px;
}

input[type=checkbox]:checked + label {
    /*background: url('../images/checkbox_checked.png') no-repeat;*/
    height: 25px;
    padding: 0 0 0 25px;
}

input[type=radio] {
    display: none;
    margin: 10px;
}

input[type=radio] + label {
    height: 25px;
    padding: 0 0 0 22px;
    margin-right: 15px;
}

input[type=radio]:checked + label {
    height: 25px;
    padding: 0 0 0 22px;
    margin-right: 15px;
}
